.container {
  border: 1px solid #1d1d1d;
  margin: 2px;
}

.label {
  padding: 5px 10px;
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 8px;
}
