.container {
  border: 1px solid #1d1d1d;
  margin: 2px;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 8px;
}

.row_group {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 2px solid #1d1d1d;
  max-width: 250px;
}

.row_wrapper {
  display: flex;
  border: 2px solid #1d1d1d;
}

.row_title {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
}

.cell {
  margin: 2px;
  border: 1px solid #1d1d1d;
}

.row {
  list-style-type: none;
  padding: 2px;
}

.button {
  background-color: #44af44;
  border: none;
  color: #f0f0f0;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  font-size: 1.1rem;
  margin: 8px;
  transition: background-color 1s ease;
}

.button:hover {
  background-color: #118811;
}

.container input[type="time"] {
  padding: 6px;
}
